<br/>
<button class="btn btn-success" [routerLink]="'category'">Create New Category</button>
<br/><br/>
<div class="row">
  <div class="col-md-4" *ngFor="let value of data">
    <a [routerLink]="value._id" class="text-decoration-none">
      <div class="card">
        <img class="card-img-top" src="{{apiURL}}/{{value.categoryImageURL}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{value.categoryName}}<br><sub>{{value.subtitle}}</sub></h5>

          <p class="card-text">{{value.categoryDesc}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
