/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8f8f8;
}

.text-decoration-none {
  text-decoration: none;
  color: #000000;
}

.text-decoration-none :hover {
  color: #000000;
}
